@media screen and (max-width: 950px) {
  /* Header */
  header {
    justify-content: space-evenly;
  }

  /* Burger/Menu */
  header .Menu {
    display: none;
  }
  header .Burger_object {
    display: inline;
    position: absolute;
    margin-left: 65%;
    margin-top: 1%;
  }
  header .Burger_object span {
    font-size: calc(25px + 10 * (100vw / 1200));
  }
  header nav.Active_Nav .Menu {
    display: block;
    position: absolute;
    top: 0;
    left: -30%;
  }

  /* Triggers */
  header .Span_Close_Trigger {
    position: static;
    display: none;
  }
  header .Burger_object.Active .Span_Close_Trigger {
    display: inline;
  }
  header .Burger_object.Active .Span_Open_Trigger {
    display: none;
  }
  header .Header_div_h1_ObjectNameTheSite {
    margin-right: 30%;
  }

  /* Dark Mode */
  .dark .Burger_object {
    color: rgb(255, 255, 255);
  }

  /* Span/Icons */
  header .Header__Span {
    display: none;
  }

  /* Main__Square */
  .Square {
    display: none;
  }
  .Square_Ad {
    display: inline;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 0;
    opacity: 0;
    background: #6fd0dbbb;
    animation: Animate_Square_Ad 3s forwards;
  }
  .dark .Square_Ad {
    background-color: rgba(0, 0, 0, 0.561);
  }

  @keyframes Animate_Square_Ad {
    0% {
      opacity: 0;
      scale: 0;
    }
    50% {
      opacity: 0;
      scale: 0;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }
}
