/* Адаптация */
@media screen and (max-width: 1363px) {
  header {
    width: 100%;
  }
  header.activator {
    width: 100%;
  }
  .Div_Effect_2_Shtory_Shahadat {
    width: 100%;
  }
  .Img_Shtory_Shahadat {
    width: 100%;
  }
  .Img_Style_Shtory_Shahadat {
    width: 100%;
  }
  .Effect_Img_Shtory_Shahadat {
    width: 100%;
  }
  #Delete {
    display: none;
  }
  .Section_1_Div_Img_Shtory_Shahadat {
    width: 800px;
    z-index: 8;
  }
  video {
    width: 270px;
    height: 550px;
  }
  .Ion-cons_Shtory_Shahadat {
    margin-left: 640px;
  }
  .Logotip_h2 {
    margin-left: 30px;
    position: absolute;
  }
  .Div_Effect_5_Text_H1_Shtory_Shahadat {
    margin-top: -130px;
    margin-left: 750px;
  }
  .Section_Text_H1_Shtory_Shahadat {
    margin-left: 560.5px;
  }
  .Section_Text_H1_2_Shtory_Shahadat {
    letter-spacing: 3px;
    margin-left: 620px;
  }
  .Section_Text_H1_3_Shtory_Shahadat {
    margin-left: 573px;
  }
  .Section_Text_H1_4_Shtory_Shahadat {
    margin-left: 591px;
  }
  .Section_Div_2_Img_Shtory_Shahadat {
    width: 250px;
    margin-left: 540.5px;
  }
  .Section_Div_Img_Shtory_Shahadat {
    width: 250px;
    margin-left: 540.5px;
  }
}
@media screen and (max-width: 1300px) {
  .Section_1_Div_Img_Shtory_Shahadat {
    width: 800px;
    z-index: 8;
  }
  video {
    width: 270px;
    height: 550px;
  }
  .Logotip_h2 {
    margin-left: 35px;
    position: absolute;
  }
  .Section_2_Div_Img_Shtory_Shahadat {
    z-index: 8;
    width: 800px;
    margin-top: 25px;
  }
  header {
    width: 1283.5px;
  }
  header.activator {
    width: 1283.5px;
  }
  .Div_Effect_2_Shtory_Shahadat {
    width: 1283.5px;
  }
  .Img_Style_Shtory_Shahadat {
    width: 1283.5px;
  }
  .Effect_Img_Shtory_Shahadat {
    width: 1283.5px;
  }
  .Ion-cons_Shtory_Shahadat {
    margin-left: 630px;
  }
  .Section_Div_Img_Shtory_Shahadat {
    margin-left: 532.5px;
  }
  .Section_Div_2_Img_Shtory_Shahadat {
    margin-left: 532.5px;
  }
  .Section_Text_H1_Shtory_Shahadat {
    margin-left: 550.5px;
  }
  .Section_Text_H1_2_Shtory_Shahadat {
    margin-left: 613px;
  }
  .Section_Text_H1_3_Shtory_Shahadat {
    margin-left: 565px;
  }
  .Section_Text_H1_4_Shtory_Shahadat {
    margin-left: 580px;
  }
}

@media screen and (max-width: 1299px) {
  .Ion-cons_Shtory_Shahadat {
    margin-left: 600px;
  }
  .Section_Div_2_Img_Shtory_Shahadat {
    margin-left: 500px;
  }
  .Logotip_h2 {
    margin-left: 40px;
    position: absolute;
  }
  .Section_Div_Img_Shtory_Shahadat {
    margin-left: 500px;
  }
  .Section_Text_H1_Shtory_Shahadat {
    margin-left: 520.5px;
  }
  .Section_Text_H1_2_Shtory_Shahadat {
    margin-left: 580px;
  }
  .Section_Text_H1_3_Shtory_Shahadat {
    margin-left: 532px;
  }
  .Section_Text_H1_4_Shtory_Shahadat {
    margin-left: 547px;
  }
  #Delete_2 {
    display: none;
  }
  video {
    width: 500px;
    height: 250px;
    margin-top: 195px;
    margin-left: 0;
    border: 2px solid black;
    transition: 1s;
  }
  .Section_1_Div_Class_Video_Shtory_Shahadat {
    flex-direction: column-reverse;
  }
  header {
    width: 100%;
  }
  header.activator {
    width: 100%;
  }
  .Div_Effect_2_Shtory_Shahadat {
    width: 100%;
  }
  .Img_Style_Shtory_Shahadat {
    width: 100%;
  }
  .Effect_Img_Shtory_Shahadat {
    width: 100%;
  }
  .swiper_2 {
    margin-left: -105px;
  }
}
@media screen and (max-width: 1110px) {
  .Section_Text_H1_2_Shtory_Shahadat {
    margin-left: 520px;
  }
  .Section_Text_H1_3_Shtory_Shahadat {
    margin-left: 473px;
  }
  .Section_Text_H1_4_Shtory_Shahadat {
    margin-left: 490px;
  }
  .swiper_2 {
    margin-left: -175px;
  }
  .Logotip_h2 {
    margin-left: 50px;
    position: absolute;
  }
  .Ion-cons_Shtory_Shahadat {
    margin-left: 540px;
  }
  .Div_Card1_Shtory_Shahadat {
    width: 300px;
  }

  .Div_Card1_Img_Shtory_Shahadat {
    width: 300px;
  }
  .Footer_Div_Chart_Shtory_Shahadat {
    width: 700px;
    overflow: overlay;
  }
  .Div_Effect_5_Text_H1_Shtory_Shahadat {
    margin-left: 650px;
  }
  .Section_Img_2_Shtory_Shahadat {
    margin-left: -120px;
  }
  .Section_Img_Shtory_Shahadat {
    margin-left: -120px;
  }
  .Section_Text_H1_Shtory_Shahadat {
    margin-left: 460px;
  }
}
@media screen and (max-width: 1050px) {
  a {
    transition: 1s;
  }
  .Delete_Burger {
    display: inline;
  }

  .Delete_Icon {
    display: none;
  }
  .Delete_Call {
    display: none;
  }
  .Delete_Color {
    display: none;
  }

  .Logotip_h2 {
    position: static;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .swiper_2 {
    display: none;
  }
  .Delete_Effect {
    display: none;
  }
  .Delete_Burger {
    display: inline;
  }
  .Burger::before {
    content: "";
    width: 35px;
    height: 3px;
    margin-top: 8px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin-right: 25px;
    transition: 1s;
    cursor: pointer;
  }
  .Burger::after {
    content: "";
    width: 35px;
    position: absolute;
    height: 3px;
    margin-top: -8px;
    transition: 1s;
    background-color: rgb(255, 255, 255);
    margin-right: 25px;
    cursor: pointer;
  }
  .Burger_Center {
    width: 35px;
    position: absolute;
    height: 3px;
    transition: 1s;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .Need_3 {
    cursor: pointer;
    margin-right: 25px;
    padding-top: 25px;
    width: 50px;
    height: 20px;
    transition: 1s;

    z-index: 17;
  }
  .Need_3.active_B .Burger::before {
    transform: rotate(230deg);
    margin-top: 3px;
  }
  .Need_3.active_B .Burger::after {
    transform: rotate(-230deg);
    margin-top: 3px;
  }
  .Need_3.active_B .Burger_Center {
    margin-top: 3px;
    transform: scale(0);
  }
  .Need_3.active_B {
    margin-top: -10px;
  }

  .Burger_Menu {
    width: 20%;
    height: 90vh;
    position: absolute;
    z-index: 7;
    display: none;
    margin-left: 80%;
  }
  .Div_Object_Burger_Menu {
    width: 100%;
    height: 550px;
    background-color: rgb(255, 121, 121);
    opacity: 0;
    position: absolute;
    margin-top: -2.2%;
    display: none;
  }
  header.activator {
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 15;
  }
  .Burger_Menu.active_BM {
    display: inline;
  }
  .Burger_Menu.active_BM .Div_Object_Burger_Menu {
    opacity: 1;
    overflow: hidden;
    display: inline;
    transition: 1s;
  }
  .Logotip {
    position: static;
    z-index: 9;
    padding-right: 15px;
  }
  nav {
    position: absolute;
    z-index: 10;
    margin-left: 80%;
    opacity: 0;
    margin-top: 15%;
  }
  .Burger_Menu_A {
    font-size: 1.5rem;
    margin-top: 15px;
    display: none;
  }
  nav.active_A .Burger_Menu_A {
    display: block;
  }
  nav.active_A {
    opacity: 1;
    transition: opacity 1s;
    z-index: 17;
  }
  .H1_Text_Shtory_Shahadat {
    z-index: 10;
    margin-left: 41%;
    animation: none;
  }
  .Img_2_Shtory_Shahadat {
    margin-left: 2%;
    animation: none;
    opacity: 1;
    transform: rotate(193deg);
  }
  .P_Text_Shtory_Shahadat {
    animation: none;
    margin-left: 36%;
  }
  .P_2_Text_Shtory_Shahadat {
    animation: none;
    margin-left: 39.5%;
  }
  .A_Shtory_Shahadat {
    animation: none;
    opacity: 1;
    margin-left: 43.5%;
  }
  .Div_Effect_2_Shtory_Shahadat {
    display: none;
  }
  .Ion-cons_Shtory_Shahadat {
    display: none;
  }
  .Section_Img_2_Shtory_Shahadat {
    margin-left: -160px;
  }
  .Section_Img_Shtory_Shahadat {
    margin-left: -160px;
  }
  .Section_Text_H1_Shtory_Shahadat {
    margin-left: 435px;
  }
  .Section_Text_H1_2_Shtory_Shahadat {
    margin-left: 500px;
  }
  .Section_1_Div_Class_Video_Shtory_Shahadat {
    width: 100%;
  }
  video {
    width: 255px;
    height: 450px;
    margin-top: 0;
    margin-left: 50%;
  }
  .Section_Text_H1_3_Shtory_Shahadat {
    margin-left: 450px;
  }
  .Div_Card1_Shtory_Shahadat {
    background-color: rgb(73, 73, 73);
    width: 300px;
    height: 500px;
    border-radius: 10%;
    margin-left: 15px;
    text-align: center;
    transition: 0s;
    border-bottom: 2px solid rgb(24, 24, 24);
  }
  .Div_Card2_Shtory_Shahadat {
    background-color: rgb(73, 73, 73);
    width: 300px;
    height: 500px;
    border-radius: 10%;
    margin-left: 15px;
    text-align: center;
    transition: 0s;
    border-bottom: 2px solid rgb(24, 24, 24);
  }
  .Div_Card1_Img_Shtory_Shahadat {
    width: 300px;
    height: 500px;
    background-size: cover;
    overflow: hidden;
    height: 300px;
    border-radius: 10%;
    transition: 0s;
  }
  .Div_Card1_Shtory_Shahadat:hover,
  .Div_Card2_Shtory_Shahadat:hover {
    width: 300px;
    height: 500px;
  }

  .Div_Card1_Shtory_Shahadat:hover .Div_Card1_Img_Shtory_Shahadat {
    width: 300px;
  }
  .Div_Card2_Shtory_Shahadat:hover .Div_Card1_Img_Shtory_Shahadat {
    width: 300px;
  }
  .Section_Text_H1_4_Shtory_Shahadat {
    margin-left: 470px;
  }

  .Grey_a.Close_function_2 {
    opacity: 1;
    display: block;
  }
  .Test_a.Close_function_3 {
    opacity: 1;
    display: block;
  }
  .Test_a_2.Close_function_4 {
    opacity: 1;
    display: block;
  }

  .Test_a_3.Close_function_5 {
    opacity: 1;
    display: block;
  }
  .Footer_Div_Text_Shtory_Shahadat {
    height: 100%;
  }
  footer {
    height: 500px;
  }
  .Nav_Footer {
    display: none;
  }
}
@media screen and (max-width: 975px) {
  .Flex_Class_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Need_1 {
    display: none;
  }
  .Section_Img_2_Shtory_Shahadat {
    margin-left: -225px;
  }
  .Section_Img_Shtory_Shahadat {
    margin-left: -225px;
  }
  .Section_Text_H1_Shtory_Shahadat {
    margin-left: 405px;
  }
  .Section_Text_H1_2_Shtory_Shahadat {
    margin-left: 470px;
  }
  .Section_Text_H1_3_Shtory_Shahadat {
    margin-left: 420px;
  }
  .Section_Text_H1_4_Shtory_Shahadat {
    margin-left: 435px;
  }
  .Img_Footer {
    margin-left: 50%;
    margin-top: 50px;
    transform: scale(2);
    position: absolute;
  }
  .Footer_Div_Chart_Shtory_Shahadat {
    position: absolute;
    margin-top: 320px;
    margin-left: 10%;
    overflow: auto;
  }
  footer {
    height: 950px;
  }
}
@media screen and (max-width: 910px) {
  .Section_Img_2_Shtory_Shahadat {
    margin-left: -300px;
  }
  .H1_Text_Shtory_Shahadat {
    mix-blend-mode: difference;
    margin-top: 23%;
    margin-left: 42%;
  }
  .Section_Img_Shtory_Shahadat {
    margin-left: -300px;
  }
  .Section_Text_H1_Shtory_Shahadat {
    margin-left: 370px;
  }
  .Section_Text_H1_2_Shtory_Shahadat {
    margin-left: 430px;
  }
  .Section_Text_H1_3_Shtory_Shahadat {
    margin-left: 385px;
  }
  .Section_Text_H1_4_Shtory_Shahadat {
    margin-left: 400px;
  }
  .This_Video_Shtory_Shahadat {
    padding-top: 350px;
  }
  video {
    position: absolute;
    margin-top: -1050px;
    margin-left: 7%;
    border: 15px solid black;
  }
  .Section_1_H1 {
    width: 100%;
  }

  .Img_2_Shtory_Shahadat {
    display: none;
  }
  .Section_1_Div_Text_Shtory_Shahadat {
    margin-right: 0;
    text-align: center;
  }
  .Section_1_P {
    width: 100%;
  }
  .Img_2_Shtory_Shahadat {
    margin-left: -20px;
  }
  .Div_Text_Shtory_Shahadat_In_Img {
    margin-left: -35px;
  }
  .A_Shtory_Shahadat {
    margin-left: 44.5%;
  }
}
@media screen and (max-width: 850px) {
  .Section_Img_2_Shtory_Shahadat {
    margin-left: -355px;
  }
  .Section_Img_Shtory_Shahadat {
    margin-left: -355px;
  }
  .Section_Text_H1_Shtory_Shahadat {
    margin-left: 345px;
  }
  .Section_Text_H1_2_Shtory_Shahadat {
    margin-left: 405px;
  }
  .Section_Text_H1_3_Shtory_Shahadat {
    margin-left: 356px;
  }
  .Section_Text_H1_4_Shtory_Shahadat {
    margin-left: 371.5px;
  }
  .Section_1_Div_Text_Shtory_Shahadat {
    margin-left: 50px;
  }
}
@media screen and (max-width: 795px) {
  .Footer_Div_Chart_Shtory_Shahadat {
    margin-left: 5%;
  }
  .Burger_Menu {
    margin-left: 75%;
    width: 25%;
  }
  nav {
    margin-left: 75%;
    margin-top: 25%;
  }

  .This_Video_Shtory_Shahadat {
    padding-top: 500px;
  }
  .Delete_Logo {
    display: none;
  }
  .Text_Logo {
    margin-top: 150px;
    position: static;
    font-size: 2.5rem;
    margin-left: 210px;
  }
  .Text_Logo_2 {
    margin-top: 50px;
    position: static;
    font-size: 2.5rem;
    margin-left: 355px;
  }
  .Text_Logo_3 {
    margin-top: 150px;
    position: static;
    font-size: 2.5rem;
    margin-left: 280px;
  }
  .Text_Logo_4 {
    margin-top: 150px;
    position: static;
    font-size: 2.5rem;
    margin-left: 305px;
  }
  .Img_Footer {
    transform: scale(1.5);
  }
  .Footer_Div_Chart_Shtory_Shahadat {
    margin-left: 15%;
    width: 400px;
  }

  .Footer_H1_2_Chart {
    display: inline;
    margin-left: 20%;
  }
  .Footer_H1_2_Text {
    display: block;
  }
  .Footer_H1_Text,
  .Footer_H1_Chart {
    display: none;
  }
}
@media screen and (max-width: 745px) {
  .Text_Logo_2 {
    margin-left: 315px;
  }
  .Text_Logo {
    margin-left: 175px;
  }
  .Text_Logo_4 {
    margin-left: 285px;
  }
  .Text_Logo_3 {
    margin-left: 255px;
  }
  .Div_Text_Shtory_Shahadat_In_Img {
    margin-left: -35px;
  }
}
@media screen and (max-width: 710px) {
  .Text_Logo_2 {
    margin-left: 310px;
  }
  .Text_Logo {
    margin-left: 150px;
  }
  .Text_Logo_4 {
    margin-left: 285px;
  }
  .Text_Logo_3 {
    margin-left: 255px;
  }
  .Text_Logo_3 {
    margin-left: 235px;
  }
  .Text_Logo_4 {
    margin-left: 255px;
  }
}
@media screen and (max-width: 695px) {
  .Text_Logo {
    margin-left: 150px;
  }
  .Text_Logo_2 {
    margin-left: 290px;
  }
  .Adaptation_Function_A {
    margin-left: 174px;
  }
  .Text_Logo_3 {
    margin-left: 235px;
  }
  .Text_Logo_4 {
    margin-left: 235px;
  }
  .Img_Footer {
    margin-left: 0;
    margin-top: 0;
    transform: scale(1);
    position: static;
  }
  .Footer_Div_Chart_Shtory_Shahadat {
    margin-top: 80%;
  }
  footer {
    height: 1020px;
  }
  .Burger_Menu {
    margin-left: 70%;
    width: 30%;
    z-index: 16;
  }
  nav {
    margin-left: 70%;
    margin-top: 1%;
  }
  .Div_Text_Shtory_Shahadat_In_Img {
    margin-left: -40px;
  }
  nav.active_A {
    margin-top: 25%;
  }
  .Section_1_Div_Text_Shtory_Shahadat {
    margin-left: 0;
    text-align: start;
  }
  .Adaptation_Function_A {
    margin-left: 0;
  }
}
@media screen and (max-width: 675px) {
  .Text_Logo {
    margin-left: 130px;
  }
  .Text_Logo_2 {
    margin-left: 275px;
  }
  .Text_Logo_3 {
    margin-left: 210px;
  }
  .Text_Logo_4 {
    margin-left: 230px;
  }
}
@media screen and (max-width: 645px) {
  .Text_Logo {
    margin-left: 120px;
  }
  .P_2_Text_Shtory_Shahadat {
    margin-left: 37%;
  }
  .P_Text_Shtory_Shahadat {
    margin-left: 32%;
  }
  .A_Shtory_Shahadat {
    margin-left: 43%;
  }
  .H1_Text_Shtory_Shahadat {
    margin-top: 27%;
    margin-left: 41%;
  }
}

@media screen and (max-width: 610px) {
  .Text_Logo_2 {
    margin-left: 260px;
  }
  .Text_Logo {
    margin-left: 105px;
  }
  .Text_Logo_3 {
    margin-left: 180px;
  }
  .Text_Logo_4 {
    margin-left: 200px;
  }
}

@media screen and (max-width: 565px) {
  .Text_Logo_2 {
    margin-left: 230px;
  }
  .Text_Logo {
    margin-left: 80px;
  }
  .Text_Logo_3 {
    margin-left: 165px;
  }
  .Text_Logo_4 {
    margin-left: 180px;
  }
  .Div_Text_Shtory_Shahadat_In_Img {
    margin-left: -50px;
  }
  .Burger_Menu {
    margin-left: 65%;
    width: 35%;
  }
  nav.active_A {
    margin-top: 35%;
    margin-left: 65%;
  }
}
@media screen and (max-width: 540px) {
  .Text_Logo_2 {
    margin-left: 220px;
  }
  .Text_Logo {
    margin-left: 60px;
  }
  .Text_Logo_3 {
    margin-left: 150px;
  }
  .Text_Logo_4 {
    margin-left: 160px;
  }
}
@media screen and (max-width: 515px) {
  .Footer_Div_Chart_Shtory_Shahadat {
    margin-top: 90%;
  }
  .Section_1_Div_Text_Shtory_Shahadat {
    transform: scale(0.9);
  }
  .Text_Logo {
    margin-left: 45px;
  }
  .Text_Logo_2 {
    margin-left: 200px;
  }
  .Text_Logo_3 {
    margin-left: 135px;
  }
  .Text_Logo_4 {
    margin-left: 155px;
  }
  .H1_Text_Shtory_Shahadat {
    margin-top: 35%;
  }
  .A_Shtory_Shahadat {
    margin-left: 45%;
  }
  .Div_Text_Shtory_Shahadat_In_Img {
    margin-left: -75px;
  }
}
@media screen and (max-width: 475px) {
  .Text_Logo {
    margin-left: 37px;
  }
  .Text_Logo_2 {
    margin-left: 190px;
  }
  .Text_Logo_3 {
    margin-left: 125px;
  }
  .Text_Logo_4 {
    margin-left: 145px;
  }
  .Div_Text_Shtory_Shahadat_In_Img {
    margin-left: -65px;
  }
  .Footer_Div_Chart_Shtory_Shahadat {
    transform: scale(0.9);
    margin-left: 5%;
  }
}
@media screen and (max-width: 450px) {
  .Section_1_Div_Text_Shtory_Shahadat {
    background-color: rgb(41, 41, 41);
    height: 350px;
    width: 615px;
  }
  .Section_2_Div_Text_Shtory_Shahadat {
    transform: scale(0.8);
  }
  video {
    margin-left: 1.5%;
  }

  .Section_1_Div_Class_Video_Shtory_Shahadat {
    background-color: white;
  }
  .Flex_Class_1 {
    margin-left: -10%;
  }
  .Text_Logo {
    margin-left: 25px;
    text-align: center;

    font-size: 35px;
  }
  .Text_Logo_2 {
    margin-left: 170px;
  }
  .Text_Logo_3 {
    margin-left: 90px;
  }
  .Text_Logo_4 {
    margin-left: 110px;
  }
  .Img_Shtory_Shahadat {
    width: 501px;
  }
  footer {
    width: 501px;
  }
  header {
    width: 501px;
    transition: 0s;
  }
  .Need_2 {
    width: 501px;
  }
}
@media screen and (max-width: 438px) {
}
