/* Diff... */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255);
}
h1 {
  color: rgb(000, 000, 000);
  font-size: 25px;
}

/* Header */
header {
  border-bottom: 3px solid rgba(199, 196, 196, 0.511);
  background-color: rgba(255, 255, 255, 0.521);
  box-shadow: 0 20px 25px -5px rgb(248, 227, 227);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  user-select: none;
}
.Header_h1_NameTheSite {
  font-size: calc(10px + 15 * (100vw / 1200));
}

/* Nav */
header nav a {
  margin-left: 40px;
  color: rgb(000, 000, 000);
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  white-space: nowrap;
  transition: color 0.3s;
}
header nav a:hover {
  color: rgb(187, 181, 181);
}
.Header__Not_A {
  color: rgb(187, 181, 181);
  cursor: default;
}
.Header__Not_A:hover {
  text-decoration: none;
}
.Burger_object {
  display: none;
}
/* Span/Icons */
.Header__Span {
  cursor: pointer;
  font-size: 25px;
  margin-top: 5px;
  transition: rotate 0.5s, margin-top 0.5s;
}
.Header__Span:hover {
  rotate: -30deg;
  margin-top: 0;
}
.Header_Icon_2 {
  display: none;
}
